<!-- <h1>COUPON</h1>
<button (click)="GetOut()">close</button>
<button (click)="ApplyTheDiscount()">Apply</button> -->

<div class="card p-3 m-3">
  <div class="card-header">
    eeeyyy! you got yourself a cooooool coupon!
  </div>
  <div class="card-body">
    <h5 class="card-title font-weight-bolder" (click)="ApplyTheDiscount()">EEHEBOIIENJOY10</h5>
    <p class="card-text">isn't our team a lagend or what?? You heard that right, we got you a coooolest descount, No conditions, this is on us!</p>
    <button href="#" class="btn btn-primary" (click)="GetOut()">close</button>
  </div>
</div>
